* {
	margin:0;
	padding: 0;
}
html{
	font-family: 'Poppins', sans-serif;
}
/*header*/
header{
	background: url(images/bg-hero-desktop.svg);
    background-color: hsl(193, 100%, 96%);
    height: 41px;
    padding: 52px 20px 36px 20px;
   
}
.navbar{
	display: flex;
	justify-content: space-between;
}
.navbar img{
	width: 200px;
}
button{
	color:#0b2a24;
	width: 200px;
	height: 48px;
	border-radius: 20px;
	background-color: rgba(22, 136, 236, 0.384);
    border: none;
	font-family: 'Poppins', sans-serif;
}
.bouttona{
	cursor: pointer;
	background-color:white;
	box-shadow: 0 0 20px 2px #8080801f;
}

.bouttona:hover{
	background-color: rgba(22, 136, 236, 0.384);
}

/*main*/
main{
	justify-content: center;
	align-items: center;
	padding: 75px;
}
.titre{
	text-align: center;
	margin-bottom: 70px;
}
.fatih{
	display: flex;
    justify-content: space-around;
	align-self: center;
}
.part1 img{
	width: 600px;
}
.fill{
	height: 100px;
	width: 250px;
	background-color:hsl(193, 100%, 96%);
	border-bottom-right-radius:25px !important;
	border: none;
	padding-left: 18px;
	padding-top: 10px;
	font-family: 'Poppins', sans-serif;
	border-radius: 10px;

}
.fille{
	width: 250px;
	height: 50px;
	background-color:hsl(193, 100%, 96%);
	border-bottom-right-radius:25px !important;
	border: none;
	padding-left: 18px;
	font-family: 'Poppins', sans-serif;
	border-radius: 10px;
}
.bouttonb:hover{
	background-color: rgba(20, 96, 161, 0.384);
}
.bouttonc:hover{
	background-color:hsla(322, 89%, 75%, 0.795) ;
}
.bouttonb{
	border-bottom-right-radius: 25px !important;
    border-radius: 10px;
    width: 264px;
	box-shadow: 0 0 20px 2px #8080801f;
	cursor: pointer;
}
.bouttonc{
	background-color: hsl(322, 100%, 66%);
	color: white;
	margin-top: 29px;
	cursor: pointer;
}
.name,.email ,.phone,.message{
	margin-bottom: 10px;
}
.titre h1{
	font-size: 65px;
}
.titre p{
	color: rgba(0, 0, 0, 0.452);
}
.cader{
	background-color: white;
    position: relative;
    text-align: center;
    padding: 43px 0 50px 0;
    margin: auto;
    top: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    RIGHT: 0;
    box-shadow: 0 0 20px 2px #8080801f;
    WIDTH: 750px;
    border-radius: 20px;
}
}
/*footer*/

  .spacex{
	  margin-top: 40px;
  }  
  .round img{
	  width: 13px;
	  margin:7px;
  }
  
  .supa{
	  margin-left:20px;
  }
  .round{
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  border: 1px solid #fff;
	  border-radius: 30px;
  }
  
  .copyright{
	  text-align: right;
		  font-size: 11px;
  
  }
  
  
  .spacez{
	  margin-top: 28px;
  }
  footer{
	      padding: 123px 70px 70px 70px;
	      background-color: #00252e;
		  color:#fff;
		  font-family: 'Open Sans',sans-serif;
		   
  }
  
  .b-item{
	  display: flex;
	  flex-direction: row;
  }
  
  .b-item p{
	  margin-left:20px;
  }
  .grid-footer {
	  margin: 45px 0 48px 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
	gap: 50px;
	grid-template-areas:
	  "a a b c d";
  }
  .a { grid-area: a;
   }
  .b { grid-area: b; 
      display: flex;
	  flex-direction: column;
	  align-items: center;}
  
  .c { grid-area: c; 
      display: flex;
	  flex-direction: column;
	  align-items: center;}
  
  .d { grid-area: d; 
       display: flex;
       flex-direction: row;
       align-items: flex-start;
  }
  
  
  .a img {
	  height: 20px;
  }
  a:link {
	color: #fff;
  }
  a{
	text-decoration: none;
    display: block;
    color: #fff;
  }
  a:link {
	color: #fff;
  }
  a:hover {
	color: hotpink;
  } 
  
  .space {
	  margin-top: 20px;
	  align-items: center;
  }
 /* @media (max-width:1066px){
	.part1{
		margin-right: 20px;
	}
  }*/
  @media (max-width:1000px) {
.part1{
	margin-right: 20px;
}

  }
  @media (max-width:911px){
	.fill {
		height: 58px;
		width: 166px;
		background-color: hsl(193, 100%, 96%);
		border-bottom-right-radius: 25px !important;
		border: none;
		padding-left: 18px;
		padding-top: 10px;
		font-family: 'Poppins', sans-serif;
		border-radius: 10px;
	}
	.fille {
		width: 168px;
		height: 38px;
		background-color: hsl(193, 100%, 96%);
		border-bottom-right-radius: 25px !important;
		border: none;
		padding-left: 18px;
		font-family: 'Poppins', sans-serif;
		border-radius: 10px;
	}
	.part1 img {
		width: 486px;
	}
	.bouttonb {
		border-bottom-right-radius: 25px !important;
		border-radius: 10px;
		width: 180px;
		box-shadow: 0 0 20px 2px #8080801f;
		cursor: pointer;
		HEIGHT: 37px;
	}
	.cader {
		background-color: white;
		position: relative;
		text-align: center;
		padding: 43px 0 50px 0;
		margin: auto;
		top: 118px;
		display: flex;
		flex-direction: column;
		align-items: center;
		left: 0;
		RIGHT: 0;
		box-shadow: 0 0 20px 2px #8080801f;
		border-radius: 20px;
		width: 613px;
	}
  }
  @media (max-width:761px){
	.fill {
		width: 161px;	
	}
	.fille {
		width: 161px;

	}
	.part1 img {
		width: 395px;
	}
	.bouttonb {
		
		width: 174px;
		
	}
	.cader {
		background-color: white;
		position: relative;
		text-align: center;
		padding: 43px 0 50px 0;
		margin: auto;
		top: 118px;
		display: flex;
		flex-direction: column;
		align-items: center;
		left: 0;
		RIGHT: 0;
		box-shadow: 0 0 20px 2px #8080801f;
		border-radius: 20px;
		font-size: 12px;
	}

  }
  
  @media (max-width:748px){
	.cader{
		width: 537px;
	}

  }
  @media (max-width:700px){
	.fatih{
		display: block;
		justify-content: center;
		align-self: center;
	}
	.fill {
		height: 116px;
		width: 60%;
		background-color: hsl(193, 100%, 96%);
		border-bottom-right-radius: 31px !important;
		border: none;
		padding-left: 18px;
		padding-top: 10px;
		font-family: 'Poppins', sans-serif;
		border-radius: 10px;
	}
	.fille {
		width: 60%;
		height: 61px;
		background-color: hsl(193, 100%, 96%);
		border-bottom-right-radius: 32px !important;
		border: none;
		padding-left: 18px;
		font-family: 'Poppins', sans-serif;
		border-radius: 10px;
	}
	.part1{
		text-align: center;
	}
	.patr2 {
		text-align: center;
		margin-top: 50px;
	}
	.part1 img {
		width: 500px;
	}
	.grid-footer{
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		grid-template-areas:
		  "a"
		  "b"
		  "c"
		  "d"
		  "e";
		  margin:45px 0 0 0 ;
	  }
	  .copyright{
		  text-align: center;
		  font-size: 11px;
	  }
	  .b, .c{
		align-items: flex-start;
		font-size: 17px;
	}
	
	.d{
		justify-content: center;
	}
	.b-item p {
		margin-left: 20px;
		font-size: 17px;
	}
	main {
		justify-content: center;
		align-items: center;
		padding: 0; 
	}
	.titre{
		margin-top:57px ;
		margin-bottom: 114px;
	}
	.cader{
		top: 71px;
		font-size: 12px;
		width: 439px;
	}
		
	}
	.bouttonb{
	    border-bottom-right-radius: 18px !important;
		width: 137px;
	}
  }
  @media (max-width:561px){
	  .cader{
		WIDTH: 453px;
		font-size: 8px;
	  }
	  .copyright{
		text-align: center;
		font-size: 16px;
	}
	.b, .c{
	  align-items: flex-start;
	  font-size: 15px;
  }
  .b-item p {
	margin-left: 20px;
	font-size: 16px;
}
.bouttonc{
	font-size: 11px;
}
  }
  @media (max-width:512px){
	.navbar img{
		width: 120px;
	}
	.bouttona{
		width: 120px;
		font-size: 11px;
	}
	.titre h1 {
		font-size: 45px;
	}
	.titre p{
		font-size: 11px;
	}
	.fille{
		width: 50%;
		height: 43px;
		border-bottom-right-radius: 22px !important;
	}
	.fill{
		height: 74px;
		width: 50%;
	}
	.cader {
		WIDTH: 309px;
		font-size: 8px;
		padding: 19px 0 20px 0;
		top: 48px;
	}
	.bouttonb{
	    border-bottom-right-radius: 18px !important;
		width: 137px;
	}
	.bouttonc{
		width: 148px;
	}
	.copyright{
		font-size: 8px;
	}
	.b, .c{
	  font-size: 12px;
  }
  .b-item p {
	  font-size: 12px;
  }
  .part1 img {
    width: 371px;
}
  .hdddd{
	width: 162px;
  }
  }

 