* {
	margin:0;
	padding: 0;
}

/* unvisited link */
a:link {
  color: #fff;
}
a{
	    text-decoration: none;
	display: block;
}
/* mouse over link */
a:hover {
  color: hotpink;
}
.tryitnow{
	background-color: #fff;
	color:#0b2a24;
	width: 200px;
	height: 48px;
	margin-left: 30px;

}


.tryitnow,.pink{
		display: flex;
    align-items: center;
    justify-content: center;
    	border-radius: 30px;
}

.pink,h2{
	margin-top: 34px;
}


.spacex{
	margin-top: 40px;
}
.main2{
	padding: 160px 80px 345px 80px;
	background-color: #fff;
	position: relative;
	
display: flex;
    flex-direction: column;
    align-items: center;
}

h3{
	font-size: 25px;
}

.contentright{
	margin-right: 30px;
}

.contentleft{
	margin-left: 30px;
}

h4{
	font-size: 16px;
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    margin-top: 22px;
    color: #93979a;
}

.content{
	width: 70%;
	font-family: 'Open Sans',sans-serif;
	border-radius: 20px;
	 	display: flex;
	flex-direction: row;
justify-content: space-between;
align-items: center;
}

.ready, .content, .pink, .tryitnow{
	box-shadow:0 0 20px 2px #8080801f;
}

.first{
	 padding: 55px 45px 55px 120px ;
}

.middle{
	 padding: 55px 45px 55px 120px;
}

.last{
		 padding: 55px 45px 55px 120px ;
}

.content img{
	width: 35%;
	height: 35%;
}
.content div{
display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

h2{		
	font-family: 'Open Sans',sans-serif;
font-weight: 400;
font-size: 19px;}

h1{
	    font-size: 43px;
}
.pink{
	background-color: #fe52c0;
	color: #fff;
}

.pink1{
		font-size: 13px;
	width: 280px;
	height:56px;
	font-family: 'Open Sans';
    font-weight: 700;
}

.pink1:hover, .pink2:hover{
	background-color: #fe52c094;
}

.pink2{
	font-family: 'Open Sans';
    font-weight: 700;
			font-size: 13px;
	width: 280px;
	height:56px;
}

.ready p{
	font-size: 30px;
}
.ready{
	text-align: center;
    right: 0;
    background-color: #fff;
    border-radius: 20px;
    position: absolute;
    margin: auto;
    left: 0;
    width: 800px;
    bottom: -5%;
    font-family: 'Poppins',sans-serif;
        display: flex;
    flex-direction: column;
    align-items: center;
    padding:75px 0 50px 0;
}
.start{
	align-items: center;
	    display: flex;
    flex-direction: row;
    padding: 0 80px 80px 80px;
}


.round img{
	width: 13px;
	margin:7px;
}

.supa{
	margin-left:20px;
}
.round{
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #fff;
    border-radius: 30px;
}

.copyright{
	text-align: right;
	    font-size: 11px;

}


.spacez{
	margin-top: 28px;
}
footer{
	padding:190px 80px 80px 80px;
	background-color: #00252e;
		color:#fff;
		font-family: 'Open Sans',sans-serif;
	
}

.b-item{
	display: flex;
    flex-direction: row;
}

.b-item p{
	margin-left:20px;
}

.start img{
	width: 50%;
}
.description{
	margin-right:80px;
	display: flex;
	flex-direction: column;
}
.navbar{
	    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
}

.navbar img{
	width: 200px;
}

header{
	background-color: #edfbfe;
	background-image: url(images/bg-hero-desktop.svg);
    background-repeat: no-repeat;
background-position: top;
		font-family: 'Poppins',sans-serif;

}

.grid-footer {
	margin: 45px 0 48px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 50px;
  grid-template-areas:
    "a a b c d";
}
.a { grid-area: a;
 }



.b { grid-area: b; 
display: flex;
    flex-direction: column;
    align-items: center;}

.c { grid-area: c; 
display: flex;
    flex-direction: column;
    align-items: center;}

.d { grid-area: d; 
display: flex;
flex-direction: row;
align-items: flex-start;
}


.a img {
	height: 20px;
}

.space {
	margin-top: 20px;

    align-items: center;
}


@media only screen and (max-width: 860px) {
  .grid-footer{
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "a"
    "b"
    "c"
    "d"
    "e";
    margin:45px 0 0 0 ;
}
.copyright{
	text-align: center;
}

.b, .c{
	align-items: flex-start;
}

.d{
	justify-content: center;
}
}

@media only screen and (max-width: 1115px) {

	.start{
		flex-direction: column;


	}

	.description{
			align-items: center;
			text-align: center;
					margin-right:0;
	}

	.start img{
		margin-top: 112px;
		width: 100%;
	}
}


@media only screen and (max-width: 900px) {
	.ready{
		margin:0 80px;
		    width: initial;
		     padding:75px 53px 50px 53px;
	}

	.content{
		flex-direction:column;
		    width: 100%;
	}
	.first, .middle, .last{
		padding: 55px 45px;
	}
	.content img{
		width: 100%;
		height: 100%;
	}
	.content div{
		width: 100%;
		text-align: center;
	}

	.first img, .last img, .middle div{
		margin-top: 125px;
	}
	.contentright {
    margin-right: 0;}
    h3{
    	font-size: 40px;
    }
    h4{
    	font-size: 27px;
    }
    .contentleft{
    	margin: 0;
    }
}

@media only screen and (max-width: 550px) {
	.pink2{
		width: 100%;
	}
}

@media only screen and (max-width: 650px) {
	.navbar img{
		width: 125px;
	}

	.navbar{
		padding: 80px 30px;
	}
	.tryitnow{
		width: 125px;
    height: 30px;
	}
}