*{
	margin:0;
	padding:0;
}

body{
	background-color: #1c2230;
}

.centerino a:visited{
  color: #fff;
}
.centerino a:link {
  color: #fff;
}
a{
	    text-decoration: none;
	display: block;
}
.centerino a:hover {
  font-weight: 700;
}

.click:hover, .getstarted:hover{
  cursor: pointer;
    background-color: #fff;
  background-image: linear-gradient(to right, hsl(176deg 68% 64% / 50%) , hsl(198deg 60% 50% / 50%));
}


.getstarted, .click{
    border-radius: 30px;
  background-image: linear-gradient(to right, hsl(176, 68%, 64%) , hsl(198, 60%, 50%));
}

header{
	padding:80px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.main-center{
	font-family: 'Raleway';

}


h1, h2 {
	color:#fff;
	text-align: center;
	margin-top: 50px;
}

h2{
	font-weight: 400;
    font-size: 25px;
}
.main{
	align-items: center;
	display:flex;
	flex-direction: column;
		background-image: url(images/bg-curvy-desktop.svg);
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-size: 100%;
}

.getstarted{
	width: 280px;
	height: 55px;
	display: flex;
    align-items: center;
    justify-content: center;
        margin-top: 34px;
    color:#fff;
font-weight: 700;
    font-size: 16px;
}


footer{
	padding:200px 0 95px 0;
	background-color: #0c1524;
	font-family: 'Open Sans';
  display: flex;
    flex-direction: column;
    align-items: center;
}

.cen{
  margin: 0 10%;
}

.main-center{
	width: 50%;
	display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10%;
}



.navbar span{
	display: inline-block;
	color: #b6bdc5;
	font-family: 'Raleway';
}
.navbar span:hover{
  text-decoration: underline;
  color: #fff;
  cursor: pointer;
}

.navbar{
	width: 280px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
  margin-left: 50px;
}
.details{
	margin-top:170px;
}


.grid-footer {
	margin-top: 25px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
	gap: 50px;
	grid-template-areas: "a a b c d e";
	color:#fff;
}

.a { 
	grid-area: a; 
	display: flex;
    flex-direction: row;}

.b { 
	grid-area: b; 
	display: flex;
    flex-direction: column;
    align-items: center;
}

.spacez{
	margin-top: 25px;
}

.widther{
  width: 100px;
}
.c { grid-area: c; 
	display: flex;
    flex-direction: column;
    align-items: flex-end;}

.d { grid-area: d; 
	display: flex;
    flex-direction: column;
    align-items: flex-end;}

.r { grid-area: e; 
	display: flex;
	flex-direction: row;
	align-items: flex-start;
    justify-content: flex-end;}

.round svg{
	width: 13px;
	margin:7px;
  height: auto;
}

.round:hover *{
   fill:#5fdfd2;

}

.round:hover {
     border:1px solid #5fdfd2
}

.seemore:hover *{
   fill:#fff;

}

.seemore:hover{
  border-bottom: 1px solid #fff;
  color:#fff;
  cursor: pointer;
}


.round{
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #fff;
    border-radius: 30px;
}

.supa{
	margin-left:20px;
}

.a p {
	margin-left:28px;

}

.a img{
	height: 20px;

}

.b-item{
	display: flex;
	flex-direction: row;
}

.b-item img{
	width: 20px;
}

.b-item p{
	margin-left:20px;
}
.space{
	margin-top:20px;
}


   @media (max-width: 1050px){


.grid-footer {
      grid-template-columns: 1fr;			
  grid-template-rows: auto;
  grid-template-areas:
    "a"
    "b"
    "c"
    "d"
    "e";
   }
   .b, .c, .d{
   	align-items: initial;
   }

   .r{
   	justify-content: center;
    padding-top: 110px;
   }

   footer .logo{
   	margin-top: 40px;
   }
}


@media (max-width: 880px){
	.main-center{
		width: initial;
	}
  header{
    padding:50px 40px 80px 40px;
  }
  header img{
    width: 25%;
  }
}

@media (max-width: 750px){
	.main{
		background-image: url(images/bg-curvy-mobile.svg);
	}
	h1{
		font-size: 45px;
	}
}

/* zouhair zouhair zouhair zouhair zouhair zouhair zouhair zouhair zouhair zouhair */

.zouhair{
    background-color: hsl(218, 28%, 13%);
    padding: 180px 0 360px 0;
    position: relative;
    font-family: 'Raleway',sans-serif;
    display: flex;
    justify-content: center;
   
   }
.quot{
position: absolute;
    left: -10px;
    top: -35px;


}


form{
  font-family: 'Raleway',sans-serif;
}
.name h4{
  font-weight: 400;
  margin-top: 1px;
  font-size: 8px;
}

.name h3{
  font-size: 11px;
}
   .elements{
        position: relative;
       display:flex; 
       flex-direction: row;
   }
   .element {
       color: #cbd1df;
       padding: 45px 26px 26px 26px;
       background-color: hsl(219, 30%, 18%);
       box-shadow: 5px 5px  hsl(226, 30%, 15%);
           display: flex;
    flex-direction: column;
    font-size: 15px
   }

   .border{
       display: flex;
       align-items: center;
       margin-top: 30px;
       
   }
   .border img{
       border-radius: 50%;
       width: 25px;
       height: auto;
   }
   .name{
       display: flex;
       flex-direction: column;
       margin-left: 8px;
   }
   
   
   /* ///////////   */
   
   
   .bottom{
       color: white;
       font-size: 14px;
       display: flex;
       flex-direction: column;
       text-align: center;
       border-radius: 5px;
       padding: 20px;
       box-shadow: 3px 5px hsl(226, 30%, 15%);
   }
   .tiral{
    color: #fff;
    border-radius: 10px;
  left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(219, 30%, 18%);
    position: absolute;
    right: 0;
    bottom: -15%;
    margin:0 auto;
    width: 860px;
    padding: 50px 55px 40px 55px;
           text-align: center;
       
   }
.tiraltext{
  width: 80%;
}


.grid-tiral {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 40px;
  grid-template-areas:
    "x y z";
    width: 80%;
}

.x { grid-area: x; 
z-index: 1;}

.y { grid-area: y; }

.z { grid-area: z; }


.tiral form{
  margin-top: 40px;
  display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}
   .tiralp1{
    font-size: 30px;
    font-weight: 700;
   }

   .tiralp2{
    margin-top: 25px;
   }
   .click{
       padding: 10px;
       cursor: pointer;
       border:none;
       width: 200px;
       height:46px;
       margin-left: 28px;
       color: #fff;
       font-weight: 700;
   } 
   
   .saisir{
       background-color: hsl(0, 0%, 100%);
       border-radius: 30px;
       text-align: left;
       padding: 0 30px;
       border:none;
       height:48px;
       width: 445px;
       
   }
.main-center img{
  width: 100%;
}


   @media (max-width: 1075px){
   
.grid-tiral{
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "x"
    "y"
    "z";
}
  
   }


   @media (max-width: 1300px){
    .tiral{
      width: initial;
      margin: 0 10%;
    }
   }

   @media (max-width: 1080px){
 .tiral form{
  flex-direction: column;
   } 
.click{
  margin-left: 0;
  margin-top: 28px;
  width: 100%;

 }

 .saisir{
  width: -webkit-fill-available;
 }
}


   @media (max-width: 800px){
    .tiraltext {
    width: 100%;
}

   }
/* zouhair zouhair zouhair zouhair zouhair zouhair zouhair zouhair zouhair zouhair */

/* hamza hamza hamza hamza hamza hamza hamza hamza hamza hamza hamza hamza hamza  */


.image{
   width: 50%;
}

.hamza{
    background-color: hsl(218, 28%, 13%);
    display: flex;
    justify-content: center;
}
.title{
font-size: 45px;
}

.area{
    margin-left: 58px;
}

.area p{
    margin-top: 25px;
}

.seemore svg{
    margin-left: 8px;
}

.seemore{
border-bottom: 1px solid #5fdfd2;
padding-bottom: 4px;
width: max-content;
    color: #5fdfd2;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.grid-container{
    align-items: center;
    color: white;
    font-family: raleway;
    display: flex;
    flex-direction: row;
    width: 85%;
    
}


   @media (max-width: 1075px){
    .grid-container{
        flex-direction: column;
    }

    .area{
        margin-top:105px;
        margin-left:0;
    }

    .title{
        font-size: 38px;
    }

    .image{
        width: 100%;
    }
   }
/* hamza hamza hamza hamza hamza hamza hamza hamza hamza hamza hamza hamza hamza  */

/* soufian soufian soufian soufian soufian soufian soufian soufian soufian soufian */
.soufian{
    background-color: hsl(218, 28%, 13%);
    font-family: 'Raleway';
    display: flex;
    justify-content: center;
 
}
.haut, .bas{
     display: flex;
     justify-content: space-around;
     align-items: center;
}

.boxer{
	display: flex;
	flex-direction: column;
	align-items: center;
	color:#fff;
	text-align: center;

}

.boxer h3{
	margin-top: 32px;
}

.boxer p{
	margin-top: 12px;
}

.boxer img{
	width: 80px;
}
}
h3, p{
    color:#fff;
}


.grid-soufiane {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 100px;
  grid-template-areas:
    "e f"
    "g h";
    width: 60%;
    margin:160px 0 140px 0;
}

.f { grid-area: f; }

.g { grid-area: g; }

.h { grid-area: h; }

   @media (max-width: 880px){
.grid-soufiane{
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "e"
    "f"
    "g"
    "h";
}
  .grid-soufiane{
    width: initial;
    margin-left:80px;
    margin-right: 80px;
  }
   }


/* soufian soufian soufian soufian soufian soufian soufian soufian soufian soufian */