
.zouhair{
    background-color: hsl(218, 28%, 13%);
       padding: 180px 0 360px 0;
           position: relative;
           font-family: 'Raleway',sans-serif;
          display: flex;
    justify-content: center;
   
   }
.quot{
position: absolute;
    left: -10px;
    top: -35px;


}

.name h4{
  font-weight: 400;
}
   .elements{
        position: relative;
       display:flex; 
       flex-direction: row;
   }
   .element {
       font-size: 14px;
       color: white;
       padding: 45px 26px 26px 26px;
       background-color: hsl(219, 30%, 18%);
       box-shadow: 5px 5px  hsl(226, 30%, 15%);
           display: flex;
    flex-direction: column;
   }

   .border{
       display: flex;
       align-items: center;
       
   }
   .border img{
       border-radius: 50%;
       width: 40px;
       height: 40px;
       padding: 15px;
   }
   .name{
       display: flex;
       flex-direction: column;
       margin-left: 8px;
   }
   
   
   /* ///////////   */
   
   
   .bottom{
       color: white;
       font-size: 14px;
       display: flex;
       flex-direction: column;
       text-align: center;
       border-radius: 5px;
       padding: 20px;
       box-shadow: 3px 5px hsl(226, 30%, 15%);
   }
   .tiral{
    color: #fff;
    border-radius: 10px;
  left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(219, 30%, 18%);
    position: absolute;
    right: 0;
    bottom: -15%;
    margin:0 auto;
    width: 860px;
           padding:50px 75px 40px 75px;
           text-align: center;
       
   }
.tiraltext{
  width: 80%;
}


.grid-tiral {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 40px;
  grid-template-areas:
    "x y z";
    width: 80%;
}

.x { grid-area: x; }

.y { grid-area: y; }

.z { grid-area: z; }


.tiral form{
  margin-top: 40px;
  display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}
   .tiralp1{
    font-size: 30px;
    font-weight: 700;
   }

   .tiralp2{
    margin-top: 25px;
   }
   .click{
       background-color: hsl(176, 68%, 64%);
       border-radius: 30px;
       padding: 10px;
       cursor: pointer;
       border:none;
       width: 200px;
       height:46px;
       margin-left: 28px;
   } 
   
   .saisir{
       background-color: hsl(0, 0%, 100%);
       border-radius: 30px;
       text-align: left;
       text-align: center;
       border:none;
       height:48px;
       width: 480px;
       
   }
.main-center img{
  width: 100%;
}


   @media (max-width: 1075px){
   
.grid-tiral{
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "x"
    "y"
    "z";
}
  
   }


   @media (max-width: 1300px){
    .tiral{
      width: initial;
      margin: 0 10%;
    }
   }

   @media (max-width: 1080px){
 .tiral form{
  flex-direction: column;
   } 
.click{
  margin-left: 0;
  margin-top: 28px;
  width: 100%;

 }

 .saisir{
  width: 100%;
 }
}
